<div class="max-w-2xl w-full mx-auto bg-white p-8 rounded-lg shadow-md">

  <!-- Title -->
  <h1 class="text-2xl font-semibold text-center text-zinc-900 mb-2">Create a
    Wishlist</h1>
  <p class="text-center text-sm text-zinc-500 mb-6">Sign up to get started!</p>
  {{> create-wishlist-form}}
</div>