<div class="max-w-4xl mx-auto">
  <!-- Title -->
  <div class="w-full flex justify-between items-center mb-8">
    <h1 class="text-3xl font-semibold text-zinc-800">Your Wishlists</h1>
  <!-- Create New Wishlist -->
      <button
        type="submit"
        hx-get="/htmx/create"
            hx-swap="innerHTML"

          hx-target="#modalContainer"
        class=" bg-zinc-100 hover:bg-zinc-50 text-zinc-900 border-zinc-200 shadow-md hover:shadow-none hover:border-zinc-300 py-2 px-4 rounded-md  min-w-40 transition-all"
      >
        Create wishlist
      </button>
  </div>

<div id="wishlists-container">
  <!-- Wishlists -->
  {{> wishlists-items items=wishlists}}
</div>

  
</div>